body {
    text-align: center;
    background-color: #d8f6f5;
}
/*导航菜单*/
nav {
    background-color: #bebebe;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 23px;
}
/*主展示区*/
#PIC_NAV {
    float: left;
}
main img{
    width: 200px;
    height: 300px;
}
/*侧边导航*/
aside{
    float: right;
}
/*页脚*/
footer{
    float: bottom;
}